<div class="container">
    <div class="row">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" id="bId">Eat Da Burger!</h1>
                <p class="lead">An interactive burger list to help you which burger you should eat next.
                </p>
            </div>
        </div>
        <div class="col-sm-6">

            <h4>Burgers you've eaten!</h4>

            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.burger_name}}

                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button class="btn" type="submit">Try It Again</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-6">
            <h4>Burgers to devour!</h4>
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.burger_name}}

                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="0">
                        <button class="btn" type="submit">DEVOUR!</button>
                    </form>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h4>Add a Burger</h4>
            <form class="create-update-form" action="burgers/create" method="POST">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="burger_name">
                </div>

                <button type="submit" class="btn btn-primary">Add Burger</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>